<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<title>Plitra: Online PL/I to Java Transpiler</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js" integrity="sha512-l8ZIWnQ3XHPRG3MQ8+hT1OffRSTrFwrph1j1oc1Fzc9UKVGef5XN9fdO0vm3nW0PRgQ9LJgck6ciG59m69rvfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/eclipse.min.css" integrity="sha512-Gv0sGKOVrQcQjUHL+xd9Bpq5AvLKbcQMb8s4J1//caCLxqvj00CLJMzJlqnTHTCQbKFRpPHqzXteq6dSMs7PEw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js" integrity="sha512-I6CdJdruzGtvDyvdO4YsiAq+pkWf2efgd1ZUSK2FnM/u2VuRASPC7GowWQrWyjxCZn6CT89s3ddGI+be0Ak9Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js" integrity="sha512-l8ZIWnQ3XHPRG3MQ8+hT1OffRSTrFwrph1j1oc1Fzc9UKVGef5XN9fdO0vm3nW0PRgQ9LJgck6ciG59m69rvfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/sql/sql.min.js" integrity="sha512-JOURLWZEM9blfKvYn1pKWvUZJeFwrkn77cQLJOS6M/7MVIRdPacZGNm2ij5xtDV/fpuhorOswIiJF3x/woe5fw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="codemirror/mode/javascript/javascript.js"></script>

<script src="mode/javascript/javascript.js"></script>
</head>
<body>
	<!-- As a link -->
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Plitra</a>
		</div>
	</nav>
	<div class="d-flex justify-content-center mt-2">
		<form th:action="@{/post}" th:object="${code}" method="post">
			<div style="text-align: center;"
				class="d-flex justify-content-center mt-3 flex-column">

				<h3>Translate PL/I-Sourecode to Java</h3>
				<div class="d-flex justify-content-center">
					<p style="width: 700px;">Just Copy your PL/I Code and paste it
						in the left textfield. Afterwards the Transpiler will translate
						the Source-code to Java for you.</p>
				</div>
				<!-- <div class="d-flex justify-content-center">
					<div style="width: 700px;" class="alert alert-warning" role="alert">Please keep in mind that this Transpiler will translate the PL/I-Code with custom written Java-Code-Template. 
			    	Always crosscheck and adjust the code, if needed!</div>
				</div> -->
			</div>
			<div class="d-flex flex-direction-row">

				<div class="flex-col m-1">
					<div class="form-floating">
						<textarea witdh="300" th:field="*{pli}" id="code" name="code"></textarea>
						
					</div>
					<div class="d-flex justify-content-end mt-2">
						<button type="submit" value="Submit" class="btn btn-primary ">Translate</button>
					</div>
				</div>
				<div class="flex-col m-1">
					<div class="form-floating">
					<textarea 
					
					th:text="${code.java}" witdh="300" th:field="*{java}" id="code1" name="code1"></textarea>
						
					</div>
					<div class="d-flex justify-content-start mt-2">
						<!-- <button name='reset' type="button" value="Reset" class="btn btn-light"
				onclick="document.getElementById('floatingTextarea1').reset()"
				>Reset</button> -->
					</div>
				</div>
			</div>
		</form>
	
	</div>
	<div></div>
	<footer>
		<div class="d-flex justify-content-center mt-9">
			<p style="margin-top: 40em;">&#169;Plitra by Lennart Hahner</p>
		</div>
	</footer>
	<script>
	
		var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
			lineNumbers : true,
			mode : "text/x-plsql",
			matchBrackets : true,
		});
	
		
		editor.setOption('theme', 'eclipse');
		editor.setSize(500, 600)
		
		var editor1 = CodeMirror.fromTextArea(document.getElementById('code1'), {
			lineNumbers : true,
			matchBrackets: true,
			mode : "text/x-java",
			readOnly: true
		});
		
		editor1.setOption('theme', 'eclipse');
		editor1.setSize(500, 600)
	</script>
</body>
</html>